public/CMONBUGKET.json
[
    {
        "id": "826c8d8a07febe21",
        "type": "tab",
        "label": "CMONBUGKET",
        "disabled": false,
        "info": "CMONBUGKET",
        "env": []
    },
    {
        "id": "00a3c54dfdd47f02",
        "type": "mqtt in",
        "z": "826c8d8a07febe21",
        "name": "",
        "topic": "MRMONI05122025V5001/DATA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc2a7a8fd08b2b4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "9d7e6de724eadbb3",
                "cc5e7523c78f4f27"
            ]
        ]
    },
    {
        "id": "9d7e6de724eadbb3",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "String to array",
        "func": "let str = msg.payload;\nmsg.payload = str.split(',').map(item => item.trim());\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 580,
        "wires": [
            [
                "649928be063b5f29"
            ]
        ]
    },
    {
        "id": "649928be063b5f29",
        "type": "split",
        "z": "826c8d8a07febe21",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "028003451cbc4311"
            ]
        ]
    },
    {
        "id": "028003451cbc4311",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "parts.index",
        "func": "msg.idx = msg.parts.index;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "0f9f0de39228edb6"
            ]
        ]
    },
    {
        "id": "cc5e7523c78f4f27",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "0f9f0de39228edb6",
        "type": "switch",
        "z": "826c8d8a07febe21",
        "name": "Route by index",
        "property": "idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 880,
        "y": 680,
        "wires": [
            [
                "b5853cf8a457d355",
                "564726eab8492669"
            ],
            [
                "67792f592289be45",
                "871db79cd1580b30"
            ],
            [
                "036e01af2a3c9646",
                "f6f94cee155513bd"
            ],
            [
                "dff6e4e8faa0ce52",
                "095b790ec6a76804"
            ],
            [
                "72eb360410c02c41",
                "332c2bbc9179f5fb"
            ],
            [
                "dfa04213064db47d",
                "501a4234b9f2596f"
            ],
            [
                "194f963d3f12f2a5",
                "8bf18a7467aa292b"
            ],
            [
                "399c64497d60278d",
                "c33e5161b907952b"
            ],
            [
                "d0a94c7028ad6b3d",
                "492a87955150d62a"
            ],
            [
                "a892b0cb6d63ceb7",
                "7a311ba64d20d2c9"
            ],
            [
                "f9fa2fc8747af784",
                "6beb110781fa3365"
            ],
            [
                "9dd565fdcf05011b",
                "447dc6c01607538c"
            ],
            [
                "5b0b8522a116e776",
                "edb2d88064f37fa0"
            ],
            [
                "c06977f6467f51cd",
                "5b59b0d6c7c42aaa"
            ]
        ]
    },
    {
        "id": "b5853cf8a457d355",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b0e6e4f53dad51de"
        ],
        "x": 1165,
        "y": 380,
        "wires": []
    },
    {
        "id": "b0e6e4f53dad51de",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 1",
        "links": [
            "b5853cf8a457d355"
        ],
        "x": 1415,
        "y": 380,
        "wires": [
            [
                "cc1312dcfae0144b"
            ]
        ]
    },
    {
        "id": "67792f592289be45",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0224d84ae4c465f8"
        ],
        "x": 1165,
        "y": 440,
        "wires": []
    },
    {
        "id": "0224d84ae4c465f8",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 2",
        "links": [
            "67792f592289be45"
        ],
        "x": 1415,
        "y": 440,
        "wires": [
            [
                "91ec100d3be6f740"
            ]
        ]
    },
    {
        "id": "9b9c172474d61aad",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Temp",
        "info": "",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "1a827cc8ed1c275b",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Humi ID2",
        "info": "",
        "x": 1300,
        "y": 440,
        "wires": []
    },
    {
        "id": "036e01af2a3c9646",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "34fcc0cdfc6d4bf9"
        ],
        "x": 1165,
        "y": 500,
        "wires": []
    },
    {
        "id": "34fcc0cdfc6d4bf9",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 3",
        "links": [
            "036e01af2a3c9646"
        ],
        "x": 1415,
        "y": 500,
        "wires": [
            [
                "0f944692188706ce"
            ]
        ]
    },
    {
        "id": "dcb74aaa4d4be3d6",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Temp ID2",
        "info": "",
        "x": 1300,
        "y": 500,
        "wires": []
    },
    {
        "id": "dff6e4e8faa0ce52",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "a5063e8bd693971b"
        ],
        "x": 1165,
        "y": 560,
        "wires": []
    },
    {
        "id": "a5063e8bd693971b",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 4",
        "links": [
            "dff6e4e8faa0ce52"
        ],
        "x": 1415,
        "y": 560,
        "wires": [
            [
                "1919af5d1b996d8c"
            ]
        ]
    },
    {
        "id": "1cdc20353e4b7fa4",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Humi ID3",
        "info": "",
        "x": 1300,
        "y": 560,
        "wires": []
    },
    {
        "id": "72eb360410c02c41",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "3ec1d0cb8f8bfa1c"
        ],
        "x": 1165,
        "y": 620,
        "wires": []
    },
    {
        "id": "3ec1d0cb8f8bfa1c",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 5",
        "links": [
            "72eb360410c02c41"
        ],
        "x": 1415,
        "y": 620,
        "wires": [
            [
                "9df8cc40e28459ca"
            ]
        ]
    },
    {
        "id": "35ecf33a065eb8d5",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Temp ID3",
        "info": "",
        "x": 1300,
        "y": 620,
        "wires": []
    },
    {
        "id": "dfa04213064db47d",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "1a70b49049030ca6"
        ],
        "x": 1165,
        "y": 680,
        "wires": []
    },
    {
        "id": "1a70b49049030ca6",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 6",
        "links": [
            "dfa04213064db47d"
        ],
        "x": 1415,
        "y": 680,
        "wires": [
            [
                "43c04f099adad35f"
            ]
        ]
    },
    {
        "id": "2606658634292752",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Input 1",
        "info": "",
        "x": 1290,
        "y": 680,
        "wires": []
    },
    {
        "id": "194f963d3f12f2a5",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "1d21b091de834d49"
        ],
        "x": 1165,
        "y": 740,
        "wires": []
    },
    {
        "id": "1d21b091de834d49",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 7",
        "links": [
            "194f963d3f12f2a5"
        ],
        "x": 1415,
        "y": 740,
        "wires": [
            [
                "593d0c42aa2c0c90"
            ]
        ]
    },
    {
        "id": "0634d8b764bd097e",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "AIR1",
        "info": "",
        "x": 1290,
        "y": 740,
        "wires": []
    },
    {
        "id": "399c64497d60278d",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "d3e69495ca5ff270"
        ],
        "x": 1165,
        "y": 800,
        "wires": []
    },
    {
        "id": "d3e69495ca5ff270",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 8",
        "links": [
            "399c64497d60278d"
        ],
        "x": 1415,
        "y": 800,
        "wires": [
            [
                "512c53d431d43722"
            ]
        ]
    },
    {
        "id": "44296562f708ec30",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "AIR2",
        "info": "",
        "x": 1290,
        "y": 800,
        "wires": []
    },
    {
        "id": "d0a94c7028ad6b3d",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "cd6ded89aed24f16"
        ],
        "x": 1165,
        "y": 860,
        "wires": []
    },
    {
        "id": "cd6ded89aed24f16",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 9",
        "links": [
            "d0a94c7028ad6b3d"
        ],
        "x": 1415,
        "y": 860,
        "wires": [
            [
                "426ee3ce2c68bd09"
            ]
        ]
    },
    {
        "id": "84573658b88eb045",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "UPS1",
        "info": "",
        "x": 1290,
        "y": 860,
        "wires": []
    },
    {
        "id": "a892b0cb6d63ceb7",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "b184c20e25ab1d17"
        ],
        "x": 1165,
        "y": 920,
        "wires": []
    },
    {
        "id": "b184c20e25ab1d17",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 10",
        "links": [
            "a892b0cb6d63ceb7"
        ],
        "x": 1415,
        "y": 920,
        "wires": [
            [
                "f250236e3097841a"
            ]
        ]
    },
    {
        "id": "ed5a6f894caba674",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "UPS2",
        "info": "",
        "x": 1290,
        "y": 920,
        "wires": []
    },
    {
        "id": "f9fa2fc8747af784",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "da25aec50bfbe440"
        ],
        "x": 1165,
        "y": 980,
        "wires": []
    },
    {
        "id": "da25aec50bfbe440",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 11",
        "links": [
            "f9fa2fc8747af784"
        ],
        "x": 1415,
        "y": 980,
        "wires": [
            [
                "9918c389d3493e63"
            ]
        ]
    },
    {
        "id": "1768ab83cb9f94a1",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Fire",
        "info": "",
        "x": 1290,
        "y": 980,
        "wires": []
    },
    {
        "id": "9dd565fdcf05011b",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "a5a95803cdd78d7e"
        ],
        "x": 1165,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a5a95803cdd78d7e",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 12",
        "links": [
            "9dd565fdcf05011b"
        ],
        "x": 1415,
        "y": 1040,
        "wires": [
            [
                "e7dfc458e0e2a188"
            ]
        ]
    },
    {
        "id": "0b3fc34d95a3aa8e",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Leak",
        "info": "",
        "x": 1290,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5b0b8522a116e776",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "ad1ff18847cae626"
        ],
        "x": 1165,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ad1ff18847cae626",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 13",
        "links": [
            "5b0b8522a116e776"
        ],
        "x": 1415,
        "y": 1100,
        "wires": [
            [
                "54abdfb6b8cbe081"
            ]
        ]
    },
    {
        "id": "efb24315c65a1fbb",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "HSSD",
        "info": "",
        "x": 1290,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cc1312dcfae0144b",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 360,
        "wires": []
    },
    {
        "id": "91ec100d3be6f740",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "0f944692188706ce",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 480,
        "wires": []
    },
    {
        "id": "1919af5d1b996d8c",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 540,
        "wires": []
    },
    {
        "id": "9df8cc40e28459ca",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 600,
        "wires": []
    },
    {
        "id": "43c04f099adad35f",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 660,
        "wires": []
    },
    {
        "id": "593d0c42aa2c0c90",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 720,
        "wires": []
    },
    {
        "id": "512c53d431d43722",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 780,
        "wires": []
    },
    {
        "id": "426ee3ce2c68bd09",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 840,
        "wires": []
    },
    {
        "id": "f250236e3097841a",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 900,
        "wires": []
    },
    {
        "id": "9918c389d3493e63",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 960,
        "wires": []
    },
    {
        "id": "e7dfc458e0e2a188",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1020,
        "wires": []
    },
    {
        "id": "54abdfb6b8cbe081",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c06977f6467f51cd",
        "type": "link out",
        "z": "826c8d8a07febe21",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "dbf16ae4d47c90f5"
        ],
        "x": 1165,
        "y": 1160,
        "wires": []
    },
    {
        "id": "dbf16ae4d47c90f5",
        "type": "link in",
        "z": "826c8d8a07febe21",
        "name": "link in 29",
        "links": [
            "c06977f6467f51cd"
        ],
        "x": 1415,
        "y": 1160,
        "wires": [
            [
                "dd36b1036fd52a81"
            ]
        ]
    },
    {
        "id": "486aed40232237ec",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "Temp",
        "info": "",
        "x": 1290,
        "y": 1160,
        "wires": []
    },
    {
        "id": "dd36b1036fd52a81",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug 44",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1140,
        "wires": []
    },
    {
        "id": "543c63e3b9dcc5d9",
        "type": "comment",
        "z": "826c8d8a07febe21",
        "name": "",
        "info": "ws://alexsomsap.trueddns.com:51534/websockets\nSACIT = KYEyicQLbGxzCQp8xeswmQXC8IOJRnS9\n",
        "x": 1520,
        "y": 320,
        "wires": []
    },
    {
        "id": "3d81ae1ecb7eb534",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-temperature1",
        "measurement": "temperature1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 2000,
        "y": 320,
        "wires": []
    },
    {
        "id": "6dfa9cb2e1a3d70a",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-humidity1",
        "measurement": "humidity1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1990,
        "y": 380,
        "wires": []
    },
    {
        "id": "9e6c9d82c7884ae4",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-temperature2",
        "measurement": "temperature2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 2020,
        "y": 440,
        "wires": []
    },
    {
        "id": "1e455d59d1f96844",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-humidity2",
        "measurement": "humidity2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 2010,
        "y": 500,
        "wires": []
    },
    {
        "id": "262be6277adc2538",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "debug CMON-temperature1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 200,
        "wires": []
    },
    {
        "id": "564726eab8492669",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "temperature to influx db",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload.split(',');\nconst temperature = parseFloat(parts[0]) || parseFloat(0.0);\nif (temperature){\n    msg.payload = parseFloat(temperature);\n    return msg;\n}else{\n    msg.payload = parseFloat(0.0);\n    return msg;\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 320,
        "wires": [
            [
                "262be6277adc2538",
                "3d81ae1ecb7eb534"
            ]
        ]
    },
    {
        "id": "871db79cd1580b30",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "humidity to influx db",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload.split(',');\nconst humidity = parseFloat(parts[0]) || parseFloat(0.0);\nif (humidity){\n    msg.payload = parseFloat(humidity);\n    return msg;\n}else{\n    msg.payload = parseFloat(0.0);\n    return msg;\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 380,
        "wires": [
            [
                "6dfa9cb2e1a3d70a",
                "262be6277adc2538"
            ]
        ]
    },
    {
        "id": "f6f94cee155513bd",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "temperature to influx db",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload.split(',');\nconst temperature = parseFloat(parts[0]) || parseFloat(0.0);\nif (temperature){\n    msg.payload = parseFloat(temperature);\n    return msg;\n}else{\n    msg.payload = parseFloat(0.0);\n    return msg;\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 440,
        "wires": [
            [
                "9e6c9d82c7884ae4",
                "262be6277adc2538"
            ]
        ]
    },
    {
        "id": "095b790ec6a76804",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "humidity to influx db",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload.split(',');\nconst humidity = parseFloat(parts[0]) || parseFloat(0.0);\nif (humidity){\n    msg.payload = parseFloat(humidity);\n    return msg;\n}else{\n    msg.payload = parseFloat(0.0);\n    return msg;\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 500,
        "wires": [
            [
                "1e455d59d1f96844",
                "262be6277adc2538"
            ]
        ]
    },
    {
        "id": "332c2bbc9179f5fb",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "temperature to influx db",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload.split(',');\nconst temperature = parseFloat(parts[0]) || parseFloat(0.0);\nif (temperature){\n    msg.payload = parseFloat(temperature);\n    return msg;\n}else{\n    msg.payload = parseFloat(0.0);\n    return msg;\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 580,
        "wires": [
            [
                "7c0ac7d35b518973",
                "262be6277adc2538"
            ]
        ]
    },
    {
        "id": "7c0ac7d35b518973",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-temperature3",
        "measurement": "temperature3",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 2000,
        "y": 560,
        "wires": []
    },
    {
        "id": "501a4234b9f2596f",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "input1",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 640,
        "wires": [
            [
                "f8dc516248291e88"
            ]
        ]
    },
    {
        "id": "f8dc516248291e88",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-input1",
        "measurement": "input1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1900,
        "y": 640,
        "wires": []
    },
    {
        "id": "8bf18a7467aa292b",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "AIR1",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 700,
        "wires": [
            [
                "795d7f2fcfa5794f"
            ]
        ]
    },
    {
        "id": "795d7f2fcfa5794f",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-AIR1",
        "measurement": "AIR1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1910,
        "y": 700,
        "wires": []
    },
    {
        "id": "c33e5161b907952b",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "AIR2",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 760,
        "wires": [
            [
                "c60c5cd9630df0bd"
            ]
        ]
    },
    {
        "id": "c60c5cd9630df0bd",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-AIR2",
        "measurement": "AIR2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1890,
        "y": 760,
        "wires": []
    },
    {
        "id": "492a87955150d62a",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "UPS1",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 820,
        "wires": [
            [
                "8c9a46a16166e3ed"
            ]
        ]
    },
    {
        "id": "8c9a46a16166e3ed",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-UPS1",
        "measurement": "UPS1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1900,
        "y": 820,
        "wires": []
    },
    {
        "id": "7a311ba64d20d2c9",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "UPS2",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 880,
        "wires": [
            [
                "9fd90f0363f68dac"
            ]
        ]
    },
    {
        "id": "9fd90f0363f68dac",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-UPS2",
        "measurement": "UPS2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1900,
        "y": 880,
        "wires": []
    },
    {
        "id": "6beb110781fa3365",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "Fire",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 940,
        "wires": [
            [
                "02dd5f92d70caf51"
            ]
        ]
    },
    {
        "id": "02dd5f92d70caf51",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-Fire",
        "measurement": "Fire",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1870,
        "y": 940,
        "wires": []
    },
    {
        "id": "447dc6c01607538c",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "water leak",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 1000,
        "wires": [
            [
                "a548d6b6e7c4640f"
            ]
        ]
    },
    {
        "id": "a548d6b6e7c4640f",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-waterleak",
        "measurement": "waterleak",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1890,
        "y": 1000,
        "wires": []
    },
    {
        "id": "edb2d88064f37fa0",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "HSSD",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 1060,
        "wires": [
            [
                "18b4199bb6f07139"
            ]
        ]
    },
    {
        "id": "18b4199bb6f07139",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-HSSD",
        "measurement": "HSSD",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1880,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5b59b0d6c7c42aaa",
        "type": "function",
        "z": "826c8d8a07febe21",
        "name": "Temp",
        "func": "// --- โค้ดเดิมของคุณที่ใช้ประมวลผลข้อมูล ---\nconst parts = msg.payload;\nmsg.payload = parseFloat(parts);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 1140,
        "wires": [
            [
                "03b20d4d40ad97f4",
                "177b7043682ff7ee"
            ]
        ]
    },
    {
        "id": "03b20d4d40ad97f4",
        "type": "influxdb out",
        "z": "826c8d8a07febe21",
        "influxdb": "9b9448f4427d3714",
        "name": "CMON-Temp",
        "measurement": "Temp",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmon_org",
        "bucket": "CMONBUGKET",
        "x": 1870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "177b7043682ff7ee",
        "type": "debug",
        "z": "826c8d8a07febe21",
        "name": "de",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fc2a7a8fd08b2b4b",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9b9448f4427d3714",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "my_data",
        "name": "CmonIoT",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.25.99.10:8086",
        "timeout": "",
        "rejectUnauthorized": true
    }
]